
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: aqua;
}
h1 {
    text-align: center;
    margin-top: 30px;
    color: black;
}
form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}
button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    max-width: 400px;
    margin: auto;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
}